* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bodyBG: rgb(216, 216, 216);
  --bodyColor: rgb(0, 0, 0);
  --navBarBG: rgb(216, 216, 216);
  --cvFormBG: rgb(249, 249, 249);
  --cvFormColor: black;
  --navBarColor: black;
  --cvDisplayBG: rgb(255, 255, 255);
  --cvDisplayColor: #0e374e;
  --personeldetailsBG: #0e374e;
  --personeldetailsColor: rgb(255, 255, 255);
}
body {
  background-color: var(--bodyBG);
  color: var(--bodyColor);
  width: 100%;
}

.navBar {
  background-color: var(--navBarBG);
  color: var(--navBarColor);
  min-width: 320px;
  width: 100%;
  top: 0;
  padding: 10px;
  display: flex;
}
.downloadBtns {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.mainDiv {
  width: 100%;
  display: grid;
  gap: 1rem;
  padding: 20px;
  grid-template-columns: 1fr 2fr;
  @media (max-width: 960px) {
    grid-template-columns: 1fr; /* Single column for small screens */
  }
}
.cvFormDiv {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  background-color: var(--cvFormBG);
  color: var(--cvFormColor);
  border-radius: 10px;
}

.CVForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bodyBG);
  margin: 10px;
}

.headingForm {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.formExpandBtn {
  border-radius: 50%;
  width: min-content;
  height: min-content;
  gap: 0;
  border: none;
  padding: 0 2%;
  background: transparent;
  border: 1px solid black;
  font-size: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 20px;
}
.form-control {
  min-width: 250px;
}

.cvDisplayContainer {
  min-height: 100vh;
}

.cvDisplayDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 700px;
  max-height: min-content;
  max-width: 896px;
  background-color: var(--cvDisplayBG);
  color: var(--cvDisplayColor);
}

.personeldetails {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: var(--personeldetailsBG);
  color: var(--personeldetailsColor);
  height: 100px;
}

.personelDetailsName {
  text-align: center;
  grid-column: 1/4;
  font-size: 25px;
}
.personelContactDiv {
  display: flex;
  font-size: 18px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: fit-content;
}
.personelContactDiv > h3 {
  font-size: 18px;
  justify-self: baseline;
}

.educationList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.detailsBtn {
  display: flex;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 60%;
  overflow: hidden;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}
.listDisplayText {
  overflow: hidden;
  width: 60%;
}

.bi-x-circle {
  font-size: 20px;
}
.btn-danger {
  padding: 0 5px;
  min-height: fit-content;
  background-color: transparent;
  background-color: red;
  color: white;
  margin-left: 10px;
  border-radius: 50%;
}

.details {
  width: 100%;
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.displayHeading {
  background-color: rgba(81, 131, 156, 0.2);
  color: var(--cvDisplayColor);
  width: 95%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}
.individualGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  border-bottom: 1px solid var(--cvDisplayColor);
  width: 90%;
}
.dates {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.prop3 {
  grid-column: 1 / span 3;
}
.individualGrid > p {
  font-size: 1.2rem;
  overflow: hidden; /* Hide overflow content */
  word-wrap: break-word; /* Break words when necessary */
}
.mainProperty,
.prop2,
.prop3,
.dates {
  word-wrap: break-word;
  word-break: break-all;
}

.skillsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}
.skillListContainer {
  display: flex;
  flex-wrap: wrap;
}
.skillListItem {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 2rem;
}
